<div class="container-fluid booking_form">
    <%= model_error_messages(@booking) %>
  <div class="booking-img">
    <%= image_tag("justbeauty.jpg", class: "img-responsive", width: "600", height: "300", style: "text-center" ) %>
  </div>


  <%= form_for @booking, url: bookings_path do |f| %>

  <hr/>

  <span>Prenez rendez-vous pour vous coiffer, réponse dans les prochaines 24 heures ( pour plus de chance prenez votrerendez vous 4 jours a l'avance)</span>


   <div class="form-group">
      <%= f.label :Nom, class: "control-label"%>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :Prénom, class: "control-label" %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%=f.label :Email, class: "control-label" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :Téléphone, class: "control-label" %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :Date, class: "control-label" %>
      <%= f.text_area :notes,  cols: 8, rows: 5, placeholder:'Exemple: 20/11/2018 à 9h ', class: 'form-control' %>
    </div>

 
    <%= submit_tag 'Envoyer', class: 'btn btn-product col-sm-offset-10 col-xs-2' %>
     
  <% end %>
</div>
