<h1>Mes produits</h1>
<p>
	<%= link_to "Nouveau produit", new_admin_product_path,  class: 'btn btn-primary btn-md'%>
</p>

<table class="table">
	<thead>
		<th>ID</th>
		<th>Category</th>
		<th>Title</th>
		<th>Description</th>
		<th>Composition</th>
		<th>Prix</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= product.category.title %></td>
			<td><%= product.title %></td>
			<td><%= product.description %></td>
			<td><%= product.composition %></td>
			<td><%= product.price.to_s.gsub(/\.0$/, '') %><%= Product::CURRENCY %></td>

			<td>
				<%= link_to "Modifier", edit_admin_product_path(product), class: 'btn btn-default btn-sm' %>
				<%= link_to "Supprimer", admin_product_path(product), method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer?'}, class: 'btn btn-danger btn-sm' %>

			</td>
		</tr>
		<% end %>
	</tbody>
</table>