<%= image_tag("justbeauty.jpg", class: "img-fluid rounded", width: "850", height: "300") %>

<div class="title ">
  <h3>
    <%= show_snippet('produit_list_header')%>
  </h3>
</div>
<div class="container-fluid">
	<% @products.each do |product| %>
    <div class="row">
      <div class="col-sm">   
        <% if first_photo = product.photos.first %>
          <div class="photo" id="description">
           <%= image_tag first_photo.picture.url(:medium) %>
          </div>
        <% end %>
      </div>
      
      <div id="description-list">
        <div class="title"><%= product.title %></div>

        <div class="description"><%= product.description %></div>       

        <div class="composition"><%= product.composition %></div>
        <div>
          <%= form_for(@order_item, remote: true) do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <h5><%= product.price %></h5>
            <div><%= f.number_field :quantity, value: 1, min: 1 %></div>
            <%= f.submit 'Ajouter', class: 'btn btn-sm btn-product' %>
          <% end %>

        </div>
      </div>

    </div>
  <% end %>

</div>
