<!DOCTYPE html>
<html>
  <head>
    <title>Justbeeauty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>

  <body class="client">

    <nav class="navbar navbar-expand-lg">
      <%= link_to 'justbeauty', products_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" ">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/products?category_id=1">Produits Capillaire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products?category_id=2">Accessoires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products?category_id=3">Maquillages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products?category_id=4">Tissages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products?category_id=5">Perruques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings/new" >Reservation</a>   
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:justbeauty97111@gmail.com">Contact</a>  
            </li>
          </ul>
          
          <ul class="nav navbar-nav justify-content-end">
            <li class="nav-item mr-sm-2" id="cart"><%= render "layouts/cart" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if flash[:notice] || flash[:success] %>
            <div class="flash-notice"><%= flash[:notice] %></div>
            <div class="flash-success"><%= flash[:success] %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <hr>

      <footer>
        <%= show_snippet('footer')%>
      </footer>
    </div>
  </body>
</html>
