<!DOCTYPE html>
<html>
  <head>
    <title>Justbeeauty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="client">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluids">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'JustBeauty', products_path, class: 'navbar-brand' %>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/products?category_id=1">Produits Capillaire</a><span class="sr-only">(current)</span></li>
            <li><a href="/products?category_id=2">Accessoires</a></li>
            <li><a href="/products?category_id=3">Maquillages</a></li>
            <li><a href="/products?category_id=4">Tissages</a></li>
            <li><a href="/products?category_id=5">Perruques</a></li>
            <li><%= link_to 'Reservation', new_booking_path %></li>
            <li><%= link_to 'Contact', 'mailto:justbeauty97111@gmail.com ' %></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li id="cart"><%= render "layouts/cart" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>

      <hr>

      <footer>
        <%= show_snippet('footer')%>

      </footer>

  </body>
</html>
